.btn-blue {
    background-color: #06a5e4 !important;
}

.btn-yellow {
    background-color: #fab207 !important;
}

.btn-lightyellow {
    background-color: #f5e37d !important;
}

.btn-orange {
    background-color: #d27711 !important;
}